[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color:#424551;
}

.wraper {
  position: relative;
  overflow: hidden;
  padding: 50px;
  min-height: 100%;
}
.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 30px;
  background-color: rgb(117, 117, 231);
  z-index: 100;
}
.items__item {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
}
.items__item--bg-brown {
  background-color: brown;
  z-index: 2;
  position: relative;
  top: 30px;
}
.items__item--bg-purple {
  opacity: 0.5;
  background-color:purple;
  position: relative;
  top: 20px ;
  left: 20px;
  z-index: 1;
}
.items__item--bg-green {
  background-color: green;
  z-index: 0;
}

/**/

.sectoin{
  background-color:antiquewhite;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  padding: 60px;
  height: 800px;
}

.items2__item {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
  position: sticky;
  top: 30px;
}

.items2__item--bg-brown {
  background-color: brown;
}

.items2__item--bg-purple {
  opacity: 0.5;
  background-color: purple;
  position: absolute;
  top: 0;
  left: 0;
}

.items2__item--bg-green {
  background-color: green;
 
}

/* 1.42*/
.car{
  background-image: url(../img/e68ef4d-dorogi.jpeg);
  background-repeat:no-repeat;
  background-size:contain;
  background-attachment: fixed;
  min-height: 460px;
  max-width: 1230px;
  padding-left: 60px;
  font-size: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  
}
.car .car__container{
  position: absolute;
  left: 350px;
  top:1360px; 
}

.back-part {
  border: white solid 70px;
  width: 220px;
  display: inline-block;
  position: relative;
}

.face-part{
  border:white solid 70px;
  border-radius: 0% 100% 60% 40% / 100% 100% 0% 0%;
  display: inline-block;
  position: relative;
}


.wheels__wheel--pz-right {
  border: solid 40px #424551;
  border-radius: 50%;
  max-width: 50px;
  display: inline-block;
  position: relative;
  left: 20px;
}

.wheels__wheel--pz-left {
  border: solid 40px #424551;
  border-radius: 50%;
  max-width: 50px;
  display: inline-block;
  position: relative;
  left: 90px;
}

.triangle{
  width: 0;
  height: 0;
  border-bottom: 60px solid rgb(159, 240, 240);
  border-right: 60px solid transparent;
  position: relative;
  bottom: 180px;
  left: 250px;
}

.windows__window--pz-right {
  width: 60px;
  height: 60px;
  background: rgb(159, 240, 240);
  position: relative;
  bottom: 240px;
  left: 150px;
}
.windows__window--pz-left {
  width: 60px;
  height: 60px;
  background:rgb(159, 240, 240);
  position: relative;
  bottom: 300px;
  left: 50px;
}
